
.body {
	padding-top: 100px;
}

/* Milligram nav menu... */
.navigation {
	left: 0;
	max-width: 100vw;
	max-width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}
/* Re-overiding the width 100% declaration to match size of% based container */
.navigation .container {
	padding-bottom: 0;
	padding-top: 0;
}
.navigation {
	background: #f4f5f6;
	border-bottom: .1rem solid #d1d1d1;
	display: block;
	height: 5.2rem;
	width: 100%;
}
.navigation .img {
	height: 2.0rem;
	position: relative;
	top: .3rem;
}
.navigation .title,
.navigation-title {
	color: #606c76;
	display: inline;
	font-size: 2.0rem;
	line-height: 5.2rem;
	padding: 0;
	position: relative;
	text-decoration: none;
}
/* End Milligram nav section. */